<center><table border="1"><tr><td><center><i><b>Used packages</b></i></center></td></tr>
<tr><td>GaudiKernel</td></tr>
<tr><td>GaudiCoreSvc</td></tr>
<tr><td>External/AtlasROOT</td></tr>
<tr><td>External/GaudiInterface</td></tr>
<tr><td>AtlasPolicy</td></tr>
<tr><td>External/AtlasBoost</td></tr>
<tr><td>Control/CLIDComps</td></tr>
<tr><td>Event/xAOD/xAODTruth</td></tr>
<tr><td>Event/xAOD/xAODEventInfo</td></tr>
<tr><td>Event/xAOD/xAODMuon</td></tr>
<tr><td>Control/AthToolSupport/AsgTools</td></tr>
<tr><td>PhysicsAnalysis/AnalysisCommon/PATInterfaces</td></tr>
</table></center>
